# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.pyc
*.o
*.out

# Ignore IDE specific files
.vscode/
.idea/

# Ignore XAMPP specific files
*.bak
*.backup

# Ignore other temporary files
*.tmp
*.swp
*.swo
